<h1>Finish what you started / Create a new note </h1>
<%= render "form", note: @note %>
<%# <div data-controller="text-update">
  <textarea style="width: 100%;
                  height: 100vh;
                  border-style: none;"
            data-action = "keyup->text-update#update"
            data-text-update-target="content"
  ><%= @note.content %>
