<form class="d-flex justify-content-left  searchbar">
  <input type="search" name="query"  placeholder="search for note">
  <input type="submit" name="commit" value="search" class="material-symbols-outlined" data-disable-with="search">
</form>
