<h1><%= @folder.name %></h1>
<% @folder.notes.each do |note| %>
  <%= link_to note.name, edit_note_path(note) %>
<% end %>

<%= link_to "Add note to folder", new_folder_note_path(@folder) %>
<br>
<%= link_to "delete_folder", folder_path(@folder), data: { turbo_method: :delete, turbo_confirm: "Are you sure"} %>
