.button-round {
  padding-top: 10px;
  background-color: #D9ADAD;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  width: 36px;
  height: 36px;
}

.button-add {

}
