/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "components/index";

.main-container {
  display: flex;
}

.yield-container {
  flex-grow: 1;
  overflow: scroll;
  height: 100vh;
}

.date {
  color: grey;
}

#tagshow {
  display: inline-block;
  line-height: 1.5;
  text-transform: uppercase;
  background: #D9ADAD;
  color: white;
  vertical-align: middle;
  text-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid grey;
  font-weight: bold;
}

.noshow {
  display: none;
}


.delete a {
  text-decoration: none;
  color:black;
}

input[type="submit"]:hover {
  text-decoration: none;
}

input[type="submit"] {
  color: black;

}
