<div class="container">
  <h2>All your Taggings</h2>

  <div id="container" style="width: 100%;
                                height: 400px;
                                margin: 0;
                                padding: 0;">
  </div>
</div>
<%# @taggings.each do |t|
  <p>Tag ID: <%= t.id </p>
  <p>Reference</p>
  <p><%= link_to t.name, edit_note_path(t.reference_id)</p>
  <p>Tagged by Note</p>
  <p><%= link_to Note.find(t.tagger_id).name, edit_note_path(t.tagger_id) </p>
  <br>
  <br>
<% end %>

<script>
  fetch("/taggings", {
    method: "GET",
    headers: {"Accept": "application/json"},
  })
  .then(response => response.json())
  .then((data) => {
    console.log(data)
    var chart = anychart.graph(data);
    // set the title
    chart.title("Network Graph showing the taggings in of your notes");

    // draw the chart
    chart.container("container").draw();


    // enable the labels of nodes
    chart.nodes().labels().enabled(true);

    // configure the labels of nodes
    chart.nodes().labels().format("{%name}");

    // set the fill of nodes
    chart.nodes().normal().fill("#D9ADAD");
    chart.nodes().hover().fill("#D9ADAD");
  })
  // .then((data) => {
  //   data.Search.forEach((result) => {
  //     const movieTag = `<li class="list-inline-item">
  //       <img src="${result.Poster}" alt="">
  //       <p>${result.Title}</p>
  //     </li>`
  //     results.insertAdjacentHTML("beforeend", movieTag)
  //   })
  // })

</script>
