
<h2>All your Taggings</h2>

<div id="container" style="width: 300px;
                              height: 300px;
                              margin: 0;
                              padding: 0;">
</div>


<% @taggings.each do |t| %>
  <p>Tag ID: <%= t.id %></p>
  <p>Reference</p>
  <p><%= link_to t.name, edit_note_path(t.reference_id) %></p>
  <p>Tagged by Note</p>
  <p><%= link_to Note.find(t.tagger_id).name, edit_note_path(t.tagger_id) %></p>
  <%# used br just fir visual clearance, can change later" %>
  <br>
  <br>
<% end %>

<script>
  fetch("/taggings", {
    method: "GET",
    headers: {"Accept": "application/json"},
  })
  .then(response => response.json())
  .then((data) => {
    console.log(data)
    var chart = anychart.graph(data);
    // set the title
    chart.title("Network Graph showing the taggings in of your notes");

    // draw the chart
    chart.container("container").draw();
  })
  // .then((data) => {
  //   data.Search.forEach((result) => {
  //     const movieTag = `<li class="list-inline-item">
  //       <img src="${result.Poster}" alt="">
  //       <p>${result.Title}</p>
  //     </li>`
  //     results.insertAdjacentHTML("beforeend", movieTag)
  //   })
  // })

</script>
