
<h2>All your Taggings</h2>



<% @taggings.each do |t| %>
  <p>Reference</p>
  <p><%= link_to t.name, edit_note_path(t.reference_id) %></p>
  <p>Tagged by Note</p>
  <p><%= link_to Note.find(t.tagger_id).name, edit_note_path(t.tagger_id) %></p>
  <%# used br just fir visual clearance, can change later" %>
  <br>
  <br>
<% end %>
